body {
    color: #40514e;
    text-align: center;
    font-family: "Merriweather", serif;
    margin: 0;
}

.top-container{
    background-color: #e4f9f5;
    position: relative;
    padding-top: 50px;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background-color: #66bfbf;
    padding: 50px 0 20px;
}

h1 {
    font-size: 5.265rem;
    margin: 50px auto 0 auto;
    font-family: "Sacramento", cursive;
    font-weight: bold;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

.web {
    color: burlywood;
}

.btn {
    background-color: #11cdd4;
    color: #ffffff;
    font-size: 20px;
    border-radius: 8px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

a {
    margin: 10px 20px;
    text-decoration: none;
}

div {
    display: block;
}

.profile-img {
    border-radius: 50%;
}

p {
    line-height: 2;
}

.copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.contact-message {
    width: 30%;
    margin: 40px auto 60px;
}

.intro {
    width: 30%;
    margin: auto;
}

hr {
    border: dotted #eaf6f6 6px;
    width: 4%;
    margin: 100px auto;
}

.parent {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 50%;
    margin: 100px auto 0 auto;
    text-align: left;
    row-gap: 2rem;
}

.chessmat-img {
    margin: left;
    width: 100%;
}

/* Default styles for all screen sizes */
body {
    font-size: 16px;
    line-height: 1.5;
}

/* Styles for screens smaller than 576px(mobile devices) */
@media (max-width: 425px) {
    body {
        font-size: 14px;
        line-height: 1.4;
    }
}

/* Styles for screens larger than 576px but smaller than 992px(tablets) */
@media (min-width: 576px) and (max-width: 991px) {
    body {
        font-size: 16px;
        line-height: 1.5;
    }
}

/* Styles for screens larger than 992px(desktops and laptops) */
@media (min-width: 992px) {
    body {
        font-size: 18px;
        line-height: 1.6;
    }
}